* {
    box-sizing: border-box; 
}
body {
    margin: unset;
    font-family: 'Poppins',sans-serif;
    background: #A9C3E0;
}
.formulario-div{
    width: 900px;
    height:1000px;
    margin:35px auto;
    padding: 25px;
    box-shadow:0 0 20px 1px rgba(0,0,0,0.3) ;
    border-radius: 10px;
    background-color: white;
}
.formulario-titulo{
    text-align: center;
    margin-top: 0;
    color: rgba(0,0,0,0.7);
    height: 76px;
}
.formulario-input, .formulario-label, 
.formulario-submit{
    display: block;
    font-size: 1.3em;
}
.formulario-input{
    border: transparent;
    border-bottom: 1px solid #44444467;
    margin-bottom:40px;  
    background-color: transparent;
    margin:  50px;
    width: 300px;
}
.dato{
    float: left;
}
#cookiesx{
    float: left;
}
.formulario-input:focus{
    outline:none;
    color: #6A82FB;
}
.formulario-input:focus + .formulario-label{
    margin-top: -135px; 
}
.formulario-label{
    padding-left: 15px;
    position: absolute;
    color:rgb(192, 192, 192);
    pointer-events: none;
}
.seleccion{
    margin-top: 30px;
    border:  #83b0e4;
    border-bottom: 1px solid #44444467;
    margin-bottom:40px;  
    background-color: transparent;
    margin: 50px 150px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
}
.seleccion:focus {
    border-color: #A9C3E0;
    box-shadow: 0 0 1px 3px #A9C3E0;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
} 
.select-css option {
    font-weight:normal;
}
input:focus~label, input:valid~label
{
    color:#A9C3E0 ;
    position: absolute;
}
.formulario-submit,.formulario-cookies{
    padding:10px 20px;
    color: white;
    cursor: pointer;
    border: none;
    background: #83b0e4;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin-inline-start: 325px;
    margin: -23px 205px 0px;
    font-family: 'Poppins',sans-serif;
    font-size: 120%;
}
.formulario-submit{
    margin: -25px 205px 0px;
}
.formulario-cookies{
    margin: -75px 450px 0px;
}