body {
    color: rgb(0, 0, 0); background-color: #FFF; font-family: Georgia, Cambria, serif; font-size: 16px;
    }
    
    h1 {
    color: rgba(35, 151, 218, 0.671); font-family: Verdana, Calibri, sans-serif; font-size: 32px;
    }
    
    h2 {
    color: rgb(0, 150, 170); font-family: Verdana, Calibri, sans-serif; font-size: 24px;
    }
    
    span {
    color: rgb(0, 0, 0);
    }
    
    strong {
    font-size: 20px;
    }
    
    em {
    color: rgb(0, 0, 0); background-color: rgba(35, 151, 218, 0.671);
    }
    