*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color:#e0c1c5;  
}
.inicio-box{
    margin-top: 100px;
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    margin-bottom: 50PX;
}
.titulo{
    padding-top: 40px;
    text-align: center;
}
.options-x{
    padding: 25px 25px 25px 25px;
    box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
    border: 1.9px solid #E5E6EC;
    border-radius: 5px;
    transition: 0.5s;
    background-color:#e78d97;
    cursor: pointer;    
    margin-top: 25px;
}
.options-x:hover{
    border: 1.9px soli #E66A7B;
    background-color: #E66A7B;
    color: aliceblue;
}
.caja1{
    margin-top: 5px;
    border: 1.9px solid#E5E6EC;
    border-radius: 5px;  
    width: 500px;
    height: 30px; 
    background-color: #c7c7c7;
}
.cajax{
    height: auto;
}
.cajay{
    height: auto;
    padding-bottom: 25px;
}
.mes{
    margin-top: 5px;
    padding-left: 20px;
}
.caja2{
    margin-top: 5px;
    border: 1.9px solid#E5E6EC;
    border-radius: 5px;  
    width: 500px;
    height: 30px; 
    background-color:#c7c7c7;
}
.caja2x{
    height: auto;
}
.productos{
    margin-top: 5px;
    padding-left: 20px;
}