*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color:#8FB4BD;  
}
.inicio-box{
    margin-top: 100px;
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    margin-bottom: 50PX;
}
.titulo{
    padding-top: 40px;
    text-align: center;
}
.option{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;    
}
.options-x{
    padding: 25px 25px 25px 25px;
    box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
    border: 1.9px solid #E5E6EC;
    border-radius: 5px;
    transition: 0.5s;
    background-color: #CADFE4;
    cursor: pointer;    
}
.options-x:hover{
    border: 1.9px soli#7499AB;
    background-color: #7499AB;
    color: aliceblue;
}