* {
    box-sizing: border-box;
   
}


body {
    margin: unset;
    font-family: 'Poppins',sans-serif;
    background: #ef5cfc;
    background: -webkit-linear-gradient(to right, #6aeafb, #ee7089);
    background: linear-gradient(to right, #6aeafb, #ee7089);
}
.formulario-div{
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow:0 0 20px 1px rgba(0,0,0,0.3) ;
    position: relative;
    border-radius: 10px;
    background-color: white;
}

.formulario-titulo{
    text-align: center;
    margin-top: 0;
    color: rgba(0,0,0,0.7);
    height: 76px;
}

.formulario-input, .formulario-label, 
.formulario-submit{
    display: block;
    width: 100%;
    font-size: 1.3em;
    
}

.formulario-input{
    padding: 20px;
    border: transparent;
    border-bottom: 1px solid #44444467;
    margin-bottom:40px;  
    background-color: transparent;
}



.formulario-input:focus{
    outline:none;
    color: #6A82FB;
    
}

.formulario-input:focus + .formulario-label{
    margin-top: -135px;
    
}


.formulario-label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    color:rgb(192, 192, 192);
    transition: all 0.2s;
    pointer-events: none;
}

input:focus~label, input:valid~label
{
    color:#6A82FB ;
    position: absolute;
}

.formulario-submit{
    padding:10px 20px;
    color: white;
    cursor: pointer;
    border: none;
    background: #FC5C7D;
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin:auto;
}

.fijar{
    margin-top: -135px;
}


  











